For the cheapest DFT functional HF, and STO-3G, any xTB or semi-empirical:

Minimum spec -
Memory: 8GB+
CPU: 4 cores+

Recommended spec -
Memory: 16GB+
CPU: 8 cores+


For the DFT higher functionals (e.g., B3LYP, PBE0) with up to 6-31G basis set, and any xTB or semi-empirical:

Minimum spec -
Memory: 16GB+
CPU: 8 cores+

Recommended spec -
Memory: 32GB+
CPU: 12 cores+


For most greater DFT basis sets, and any xTB or semi-empirical, as well as Coupled Cluster with moderate basis sets:

Minimum spec -
Memory: 92GB+
CPU: 16 cores+

Recommended spec -
Memory: as much as you have
CPU: as much as you have
