Minimum Specifications

OS: Ubuntu, MacOS, Windows 11 (running Ubuntu in WSL2)
Processor: 8 cores
Memory: 16 GB RAM
Graphics: Modern AMD, NVIDIA, or Apple >= 4GB VRAM (Intel ARC is untested)
Storage: NVME PCIE 3.0 SSD


Recommended Specifications

OS: Ubuntu or MacOS
Processor: 16 cores
Memory: 64 GB RAM
Graphics: Modern AMD, NVIDIA, or Apple >= 8GB VRAM (Intel ARC is untested)
Storage: NVME PCIE 4.0 or 5.0 SSD
